body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#tela-telefone {
    margin: 79px 0px 0px 21px;
    width: 270px;
    height: 473px;
}