body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    background-image: url(../imagens/frame-iphone.png);
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

#tela {
    position: relative;
    margin: 79px 0px 0px 21px;
    width: 270px;
    height: 473px;
}

#redes-sociais {
    position: absolute;
    right: 0px;
    padding: 5px;
}

#redes-sociais img {
    margin: 10px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    box-sizing: border-box;
}

.animacao:hover{
    transform: translate(-3px, -3px);
    border: 1px solid rgb(255, 255, 106);
    transition: 0.5s, border 1s;
    padding: 0px;
    box-shadow: 5px 5px 10px black;
}

